@page "/"

<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouru</title>
</head>
<body>
    <main>
        <h1>MouruApp</h1>
        <h2>Mourukuvia</h2>
        <!-- TODO: Lisää linkki mourukuviin -->
        <p>Kaikki rakastaa mourukuvia</p>
        <img src="/data/hajytkass.jpg" alt="hajytkissa" style="width:300px">
    </main>
</body>
</html>
