@page "/"

<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouru</title>
</head>
<body>
    <main>
        <h1>MouruApp</h1>
        <section>
            <h2>Mourukuvia</h2>
            <p>Kaikki rakastaa mourukuvia</p>
            <img src="/data/hajytkass.jpg" alt="hajytkissa" style="width:300px">
            <p>Katso lisää <a target="_blank" href="https://freecatphotoapp.com">Mourukuvia</a> galleriassamme.</p>
            <a href="https://freecatphotoapp.com"><img src="/data/oon tää kissa.jpg" alt="Oon tää kissa." style="width:500px"></a>
        </section>
        <section>
            <h2>Mouru listat</h2>
            <h3>Asiat joista mourut pitää:</h3>
            <ul>
                <li>olut</li>
                <li>enkelit</li>
                <li>megumin</li>
            </ul>
            <figure>
                <img src="/data/mouru huutistelee.jpg" alt="Huutismouru!">
                <figcaption>Mourut <em>rakastavat</em> olutta.</figcaption>
            </figure>
            <h3>kolme asiaa mitä mourut vihaavat eniten:</h3>
            <ol>
                <li>töitä</li>
                <li>mustaa enkeliä</li>
                <li>kissa kiusaajat</li>
            </ol>
            <figure>
                <img src="/data/mouru tomerana mekossa.jpg" alt="Tomera mouru mekossa." style="width:400px">
                <figcaption>Mourut <strong>vihaavat</strong> muita mouruja.</figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <p>
            No Copyright - <a href="https://www.freecodecamp.org">freeCodeCamp.org</a>
        </p>
    </footer>
    <a href="/Macaronsbox">MacaronsBox Page</a>
    <a href="/MatkustusSivu">MacaronsBox Page</a>
</body>
</html>
