@page "/macaronsbox"  
<!-- Define the URL -->

<h1>MacaronsBox</h1>
<p>Welcome to macaronsbox world</p>

<h2>Ingredients</h2>
<ul>
    <li>Macaroni 400g</li>
    <li>Minced meat 400g</li>
    <li>Two onions</li>
    <li>Litre of milk</li>
    <li>Four eggs</li>
    <li>Water</li>
</ul>

<h2>Instructions</h2>
<ol>
    <li>Put macarons in the baking pan</li>
    <li>Cook the minced meat until it gets brown color on the frying pan and add seasoning</li>
    <li>Break eggs into a bowl and add milk, then whisk them together</li>
    <li>Cut onions and fry them on the pan (or don't 😉)</li>
    <li>Combine all ingredients in the baking pan, pour in egg-milk mix, add water if needed</li>
    <li>Bake at 200°C for 45–60 minutes</li>
</ol>

<img src="https://cdn.freecodecamp.org/curriculum/labs/recipe.jpg" alt="recipe">
