@page "/MatkustusSivu"

<PageTitle>Travel Agency Page</PageTitle>

<HeadContent>
    <meta charset="UTF-8" />
    <meta name="description" content="A travel agency page for tripping balls" />
</HeadContent>

<h1>Travel to China, Japan or Australia!</h1>
<p>Right now: the ultimate opportunity to take a quick trip with Japanese businessmen.</p>

<h2>Packages</h2>
<p>We have various travel packages to choose from listed below!</p>
<ul>
    <li><a href="https://www.freecodecamp.org/learn" target="_blank">Group Travels</a></li>
    <li><a href="https://www.freecodecamp.org/learn" target="_blank">Private Tours</a></li>
</ul>

<h2>Top Itineraries</h2>

<figure>
    <a href="https://www.freecodecamp.org/learn" target="_blank">
        <img src="https://cdn.freecodecamp.org/curriculum/labs/colosseo.jpg" alt="Colosseum" />
    </a>
    <figcaption>The Colosseum</figcaption>
</figure>

<figure>
    <a href="https://www.freecodecamp.org/learn" target="_blank">
        <img src="https://cdn.freecodecamp.org/curriculum/labs/alps.jpg" alt="The Alps" />
    </a>
    <figcaption>The Alps</figcaption>
</figure>

<figure>
    <a href="https://www.freecodecamp.org/learn" target="_blank">
        <img src="https://cdn.freecodecamp.org/curriculum/labs/sea.jpg" alt="The Sea" />
    </a>
    <figcaption>The Sea</figcaption>
</figure>

@code {
    
}
